@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.row1{
    display: flex;
   align-items: center;
   
   justify-content: center;
   
}
.p12{
    margin-left: 10%;
    width: 20%;
    height:70% ;
}
.p2{
    margin-right: 10%;
    width: 20%;
    height: 70%;
}
.dtext{
  display: flex 
  ;flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center ;
}
.text1{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    color: rgb(129, 128, 128);
    font-size: small;
   
}
.mail{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  color: rgb(134, 133, 133);
}
.divofb{
    display: flex;
    width: 100%;
    height: 190px;
    padding: 20px;
    background: linear-gradient( to bottom right,rgba(158, 155, 155, 0.075),rgba(158, 157, 157, 0.021));
    align-items: center;
    justify-content: center;
    box-shadow: 5px 4px 15px grey;
    
}
.divb{
  height: 100px;
  

}
.button0{
    
    background-color: black;
    padding: 5px;
    width: 200px;
    height: 35px;
    margin-top: 45px;
    margin-left: -25px;
    border-radius: 10px;
    color: aliceblue;
    font-size: small;
    box-shadow: 1px 15px 20px rgba(189, 185, 185, 0.377);

}
.line{
    width: 100%;
    height: .5px;
    background-color:rgba(201, 197, 197, 0.651);
}
.row2{
    display: grid;
text-align: center;
    grid-template-areas: 'w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w2 w3 w4 w5 w6 w7 '
                          'w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2';
    align-items: center;
    justify-content: space-between;
    
    
}

.col{
    margin: 20px;
    font-size: small;
}
#w1{
    grid-area: w1;
    margin: 20px;
  font-size: large;
}
#w2{
    grid-area: w2;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  color: black;
}
#w3{
 grid-area: w3;
 font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  
}
#w4{
 
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;  
     grid-area: w4;
}
#w5{
    grid-area: w5;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
#w6{
    grid-area: w6;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
#w7{
    grid-area: w7;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  color: black;
}
#w8r2{
    grid-area: w8r2;
    font-size: small;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
.button0:hover{
    background-color: #444;
    color: white;
    width: 210px;
    height: 45px;
    border: none;
}
@media (max-width: 1200px) {
  .row2 {
      grid-template-areas: 
          'w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w1 w2 w3'
          'w4 w5 w6 w7 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2';
          justify-content: center;
  }
  
}

@media (max-width: 620px) {
  .row2 {
      grid-template-areas: 
          'w1 w1 w1 w1 w1 w1 w1 w1 w1 w2 w3'
          'w4 w5 w6 w7 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2 w8r2';
  }
  .button0 {
    
    width: 100%; /* Make buttons full width on smaller screens */
  }
  .tittle
  {
    margin-top: 5px;
    font-size: 23px;
  }
  .button0
  {
    margin-top: 20px;
    width: 160px;
  }
  .row2 {
    
    grid-template-areas: 
            'w1'
            'w2'
            'w3'
            'w4'
            'w5'
            'w6'
            'w7'
            'w8r2';

  }
  .row1, .divofb {
      flex-direction: column; /* Stack items vertically on small screens */
      padding: 0 5%; /* Reduce padding on small screens */
  }
  .p12
  {
    margin-left: 0;
    margin-right: 90px;
    
  }
  .p12 img {
    width: 150px;
    
  }
  .p2
  {
    display: none;
    margin-left: 0;
    
  }
  .p2 img {
    width: 200px;
  }
  .text1, .mail {
      font-size: x-small; /* Adjust font size for small screens */
  }
}
